@import "../../assets/css/var.styl";
.list-container
  padding-top:100px;
  margin:0 auto;
  margin-top:115px;
  width:1425px;
  min-height:500px;

  & .list-container-title
    text-align :center;
    margin-bottom:80px;
    & span
      display:inline-block;
      width:340px;
      height:72px;
      line-height :72px;
      background:#fff;
      box-shadow: 0 8px 16px 5px rgba(80,35,54,.15);
      border-radius 10px;
      font-size:18px;
      color:#999;
      cursor:pointer;

    & span.list-select
      background:linear-gradient(to right, #ff9975,#ff7874);
      color:#fff;
      transform: scale(1.1);

