#safetyNav
  margin:0 auto;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  & .safety-title
    display:flex;
    justify-content :space-between;

    & .safety-name
      flex:1;
      border:1px solid #ddd;
      text-align :center;
      color:#666;
      cursor:pointer;
      background:#fff;
      transition box-shadow 0.5s;

    & .selected-title
      box-shadow:0 8px 36px 2px rgba(0,0,0,.1);
      border:1px solid #ff9374;
      z-index:999;
      color:#ff9374;

  & .safety-pane
    background:#fff;
    margin:0 auto;
    overflow :auto;
    box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);


    & div.safety-pane-item
      overflow :auto;

    & .safety-pane-item-left
        float:left;
        display :flex;
        flex-direction :column;
        text-align :center;
        align-items :center;

        & span
          text-align :center;
          border:1px solid #ff7974;
          color:#ff7974;
          cursor:pointer;

      & .safety-pane-item-right
        float:right;

      & .safety-pane-item-modify
          float:right;
          display :flex;
          justify-content :center;
          align-items :center;

          & .safety-pane-item-modify-con
            width:330px;
            height:350px;

            & .safety-pane-item-modify-input
              margin-bottom:20px;
              & input
                width:100%;
                height:48px;
                border:1px solid #ff7974;
                padding-left:20px;
                outline none;
                border-radius 10px;

            & .safety-pane-item-modify-btn
              text-align :center;
              margin-top:60px;
            & span
                display :inline-block;
                width:150px;

.selected-btn
  background:linear-gradient(to right, #ff9975,#ff7874) !important;
  border:0;
  color:#fff !important;
  box-shadow: 0 8px 16px 0 rgba(80,35,54,.15);
@media only screen and (max-width: 480px) {
  #safetyNav{
    width:100%;
    padding:3.5rem 1rem 1rem 1rem;
  }
  #safetyNav .safety-pane{
    height:42rem;
    border-radius:20px;
    margin-top:20px;
  }
  #safetyNav .safety-title{
    height:2rem;
    margin-top:1rem;
  }
  #safetyNav .safety-name{
    line-height :2rem;
  }
  #safetyNav .safety-name:first-child{
    border-bottom-left-radius :0.5rem;
    border-top-left-radius :0.5rem;
  }
  #safetyNav .safety-name:last-child{
    border-bottom-right-radius :0.5rem;
    border-top-right-radius :0.5rem;
  }
  #safetyNav .safety-pane{
    border-radius:1rem;
    margin-top:1rem;
  }
  #safetyNav .safety-pane div.safety-pane-item{
    padding:1rem;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-left{
    width:100%;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-left span{
    width:100%;
    height:2rem;
    line-height 2rem;
    border-radius :25px;
    margin-bottom:1rem;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-right{
    width:100%;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-modify{
    width:100%;
    padding:1rem;
    margin-top:-2rem;
    height:30rem;
  }
}

@media (min-width: 481px) and (max-width: 1366px) {
}

@media only screen and (min-width: 481px) {
  #safetyNav{
    width:1420px;
    padding-top:150px;
  }
  #safetyNav .safety-title{
    height:72px;
  }
  #safetyNav .safety-name{
    line-height :72px;
  }
  #safetyNav .safety-name:first-child{
    border-bottom-left-radius :15px;
    border-top-left-radius :15px;
  }
  #safetyNav .safety-name:last-child{
    border-bottom-right-radius :15px
    border-top-right-radius :15px
  }
  #safetyNav .safety-pane{
    width:1420px;
    height:553px;
    border-radius:20px;
    margin-top:20px;
  }
  #safetyNav .safety-pane div.safety-pane-item{
    padding:30px;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-left{
    width:215px;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-left span{
    width:210px;
    height:48px;
    line-height 48px;
    border-radius :25px;
    margin-bottom:30px;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-right{
    width:1129px;
  }
  #safetyNav .safety-pane div.safety-pane-item .safety-pane-item-modify{
    width:1129px;
    height:493px;
  }
}
