.color-btn
  transition: box-shadow .21s linear

.color-btn:hover
  transform: scale(1.05);
  background:linear-gradient(to right, #ff9975,#ff7874) !important;
  border:0;
  color:#fff !important;
  box-shadow: 0 8px 16px 0 rgba(80,35,54,.15);

  & span
    color:#fff;

.color-btn2
  display :inline-block;
  text-align:center;
  color:#fff;
  cursor:pointer;
  background:linear-gradient(to right, #ff9975,#ff7874) !important;

.color-btn:active,
.color-btn2:active
  background:linear-gradient(to right, #fb825d,#ff5955);

.el-progress-bar__inner
  background: linear-gradient(to right, #b88eff, #5e88ff) !important;

.el-progress
  padding-bottom:20px;
  border-bottom:2px solid #aaa;

.project-time-txt
  font-weight:900;
  color:#ef5346;

div.project-pane

  & .transition-box
    position :absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.1);
    top:0;
    left:0;
    z-index:999;

  & div.project-pane-item
    cursor:pointer;
    position :relative;
    background:#fff;
    overflow:hidden;

    & .project-selling
      font-weight:900;
      font-style:normal;
      position:absolute;
      background:#6488ff;
      z-index:100;
      text-align :center;
      color:#fff;
      left:0;
      top:0;

    & .project-participate
      position absolute;
      right:0;
      top:0;
      z-index:100;

    & .project-bigImg
      background:#ddd;
      float:left;
      overflow:hidden;

      & img
        width:100%;
        height:100%;

    & .project-pane-item-info
      float:right;
      color:#666;

      & .modify528
        position relative

        & i
          font-style: normal;
          font-weight:900;
          color: #333


      & .project-coin
        color:#666;

        & span
          font-weight:900;

        & i
          font-style: normal;
          float:right;




      & .project-pane-number
        display :flex;
        justify-content :space-between;
        color:#999;

        & span
          flex:1;
          font-weight 900

        & span:last-child
          text-align :right;

        & span:last-child
          text-align :right;


      & .project-pane-item-day,
      & .project-pane-item-time
        position absolute
        font-weight 900
        color #999

      & .project-pane-item-day
        & span
          color:#ef5346;
          font-weight:900;


      & .project-pane-item-over
        position absolute
        font-weight:900;
        text-align :center;
        color:#ef5346

        & span
          font-weight:900;
          color:#999;

      & .project-pane-item-aims
        font-size:16px;
        padding-top:10px;
        & > span:last-child
          font-size:24px;


.help-con
  overflow-x:hidden;
  .help-div
    text-align center;
  .help-circle-con
    overflow :hidden;
    & .help-circle
      background:#8a8bff;
      border-radius:50%;
      position :relative;
      font-weight:900;
      text-align center;
      color:#fff;

  & .help-rectangle

    background:#fff;
    box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);
    margin:0 auto;
    position absolute;
    left:0;
    right:0;
    bottom:0
    border-radius:20px;
    display :flex;
    overflow:auto;


    & > div:first-child
      flex:0.7;
      text-align :right;
      & > p
        margin-bottom:20px;
        cursor:pointer;
      & > p.help-title span
        color:red;

    & > div:nth-child(2)
      height:150px;
      width:1px;
      margin:0 20px;

    & > div:last-child
      flex:5;
      border-left:1px solid #ddd;
      padding:0 40px;

      & h2
        margin-bottom:25px;
        font-weight:900;

      & p
        margin-bottom:45px;
        line-height:20px;

.el-progress__text
  float:right;
  font-weight:900;
.el-collapse-item__content
  color:#999 !important;
.el-collapse
  border-top-color:transparent;

.registedBtn
  font-size:16px;
  & span
    font-weight:900;
    color:#fff;

.el-form-item__error
  width:425px !important;

@media only screen and (max-width:480px){
  .color-btn2{
    border-radius:2rem;
    line-height:2.5rem;
  }
  .more-btn{
    width:7rem;
    height:2.5rem;
    font-size:0.9rem;
  }
  .modify528{
    top:0.3rem;
  }
  .modify528 i{
    font-size:0.8rem;
  }
  div.project-pane{
    padding:0 1rem;
  }

  & div.project-pane-item{
    height: 10rem;
    border-radius:1rem;
    padding:1rem;
    box-shadow: 0 0.5rem 2rem 0.1rem rgba(0,0,0,.1);
    margin-bottom:2rem;
  }
  .project-selling{
    width:7rem;
    height:2rem;
    border-radius:0.7rem;
    font-size:0.7rem;
    line-height 2rem;
  }
  .project-participate img{
    width:3rem;
    height:3rem;
  }
  .project-bigImg{
    width:8rem;
    height:8rem;
    border-radius:1rem;
  }
  .project-pane-item-info{
    width:55%;
  }
  .project-coin{
    font-size:1rem;
    margin:0.2rem 0 0.4rem 0;
    line-height :1rem;
  }
  .project-coin i{
    font-size:0.5rem;
  }
  .project-pane-number{
    padding-top:0.5rem;
    font-size:0.5rem;
  }
  .project-pane-item-day,
  .project-pane-item-time{
    font-size:0.5rem;
  }
  .project-pane-item-day{
    bottom:2rem;
  }
  .project-pane-item-day span{
    font-size:1rem;

  }
  .project-pane-item-time{
    display :none;
  }
  .project-time-txt{
    margin-top:0.2rem;
    font-size:1rem;
  }
  .el-progress__text{
    font-size:1rem !important;
  }
  .el-progress-bar__outer{
    height:0.8rem !important;
  }
  .project-pane-item-over{
    font-size:1rem;
    bottom:2rem;
    right:1rem;
    width:10rem;
  }
  .help-con{
    padding-top:3.5rem;
  }
  .help-con .help-div{
    margin-left:0x;
    padding-top:0;
    line-height:0;
  }
  .help-circle-con{
    height :48rem;
  }
  .help-circle-con .help-circle{
    height:20rem;
    width:180%;
    top:-14rem;
    left:-9rem;
    font-size:1.5rem;
    line-height :34rem;
  }
  .help-con .help-rectangle{
    width:90%;
    height:35rem;
    top:12rem;
    border-radius:20px;
    padding:2rem;
  }

// 表格
  #fundsTable{
    display:none;
  }
  #fundsTableMobil{
    display:block;
  }
  .m-funds-table-ul{
    line-height:2rem;
    border-bottom:1px solid #ddd;
    padding-bottom:0.5rem;
  }
  .m-funds-table-li{
    font-size:0.7rem;
    display :flex;
  }
  .m-funds-table-li div:first-child{
    flex:2;
  }
  .m-funds-table-li div:last-child{
    width:70%;
  }
  .m-funds-table-li-handler > div:first-child{
    display :flex;
  }
  .handler-btn{
    width: 30%;
    height: 2rem;
    text-align: center;
    line-height 2rem;
    border-radius: 3rem;
    border: 1px solid #ff7974;
    margin-right: 0.5rem;
    color: #ff7974;
    cursor: pointer;
    font-size:0.7rem;
  }

  #historyTable, #orderTable{
    display :none;
  }
  .el-progress{
    padding-bottom:3px;
  }

  #m-historyTable,#m-orderTable{
    display :block;
  }
}
@media (min-width: 481px) and (max-width:1366px){

}
@media only screen and (min-width:481px){
  .color-btn2{
    border-radius:30px ;
    line-height:48px;
  }
  .more-btn{
    width:150px;
    height:48px;
  }
  div.project-pane{
    display: flex;
    flex-wrap:wrap;
  }
  div.project-pane-item-d{
    margin-right:48px;
  }

  div.project-pane-item{
    height: 320px;
    border-radius:20px;
    padding:20px;
    flex: 0 0 686px;
    box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);
    margin-bottom:48px;
  }
  .project-selling{
    width:150px;
    height:48px;
    border-radius:10px;
    line-height 48px;
  }
  .project-participate img{
    width:69px;
    height:69px;
  }
  .project-bigImg{
    width:280px;
    height:280px;
    border-radius:15px;
  }
  .project-pane-item-info{
    width:345px;
  }
  .project-coin{
    font-size:24px;
    margin:4px 0 12px 0;
    line-height :24px;
  }
  .project-coin i{
    font-size:16px;
  }
  .project-pane-number{
    padding-top:10px;
  }
  .project-pane-item-day,
  .project-pane-item-time{
    font-size:16px;
  }
  .project-pane-item-day{
    bottom:70px;
  }
  .project-pane-item-day span{
    font-size:18px;
  }
  .project-pane-item-time{
    bottom:20px;
  }
  .project-time-txt{
    margin-top:5px;
    font-size:18px;
  }
  .el-progress__text{
    font-size:18px !important;
  }
  .el-progress-bar{
    width:93% !important;
  }
  .project-pane-item-over{
    font-size:24px;
    bottom:114px;
    right:10px;
    width:370px;
  }
  .help-con{
    padding-top:90px;
  }
  .help-con .help-div{
    margin-left:-200px;
    margin-top:120px;
    line-height:40px;
  }
  .help-circle-con{
    height :710px;
  }
  .help-circle-con .help-circle{
    height:500px;
    width:105%;
    top:-250px;
    left:-34px;
    font-size:30px;
    line-height :650px;
  }
  .help-con .help-rectangle{
    width:1420px;
    height:553px;

    top:230px;
    border-radius:20px;
    padding:60px;
    font-size:16px;
  }

  // 表格
  #fundsTable{
    display:block;
  }
  #fundsTableMobil{
    display:none;
  }
  .handler-btn{
    display: inline-block;
    width: 95px;
    height: 36px;
    text-align: center;
    line-height 36px;
    border-radius: 25px;
    border: 1px solid #ff7974;
    margin-right: 10px;
    color: #ff7974;
    cursor: pointer;
  }
  .modify528{
    top:10px;
  }
  .modify528 span{
    font-size:18px;
  }
  .handler-btn:hover{
    box-shadow :none;
  }

  #historyTable,#orderTable{
    display :block;
  }
  #m-historyTable, #m-orderTable{
    display :none;
  }
  .el-progress{
    padding-bottom:12px;
  }
}
