.color-btn
  transition: box-shadow .21s linear

.color-btn:hover
  transform: scale(1.05);
  background:linear-gradient(to right, #ff9975,#ff7874) !important;
  border:0;
  color:#fff !important;
  box-shadow: 0 8px 16px 0 rgba(80,35,54,.15);


.color-btn2
  display :inline-block;

  line-height:48px;
  text-align:center;
  color:#fff;
  border-radius:30px;
  cursor:pointer;
  background:linear-gradient(to right, #ff9975,#ff7874);

.color-btn:active,
.color-btn2:active
  background:linear-gradient(to right, #fb825d,#ff5955);

.el-progress-bar__inner
  background: linear-gradient(to right, #b88eff, #5e88ff) !important;
.el-progress-bar
  width:93% !important;
.el-progress
  padding-bottom:20px;
  border-bottom:2px solid #aaa;


div.project-pane
  display: flex;
  flex-wrap:wrap;

  & .transition-box
    position :absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    z-index:999;

  & > div.project-pane-item-d
    margin-right:24px;

  & > div.project-pane-item-s
    margin-left:24px;

  & div.project-pane-item
    height: 320px;
    cursor:pointer;
    border-radius:20px;
    padding:20px;
    position :relative;
    background:#fff;
    flex: 0 0 686px;
    box-shadow: 0 8px 16px 5px rgba(80,35,54,.15);
    overflow:hidden;
    margin-bottom:48px;

    & .project-selling
      width:124px;
      height:48px;
      font-style:normal;
      position:absolute;
      background:#6488ff;
      border-radius:10px;
      z-index:100;
      text-align :center;
      line-height 48px;
      color:#fff;
      left:0;
      top:0;

    & .project-participate
      position absolute;
      width:69px;
      height:69px;
      right:0;
      top:0;
      z-index:100;

    & .project-bigImg
      width:280px;
      height:280px;
      background:#ddd;
      float:left;

      & img
        width:100%;
        height:100%;

    & .project-pane-item-info
      float:right;
      width:345px;
      color:#666;


      & .project-coin
        color:#666;
        font-size:30px;
        margin:20px 0;

      & .project-pane-number
        display :flex;
        justify-content :space-between;
        padding-top:10px;

        & span
          flex:1;

        & span:last-child
          text-align :right;

        & span:last-child
          text-align :right;


      & .project-pane-item-day,
      & .project-pane-item-time
        position absolute
        font-size:16px;

      & .project-pane-item-day
        bottom:60px;

        & span
          font-size:30px;

      & .project-pane-item-time
        bottom:20px;

      & .project-pane-item-over
        position absolute
        font-size:30px;
        bottom:100px;
        right:135px;

      & .project-pane-item-aims
        font-size:16px;
        padding-top:10px;
        & > span:last-child
          font-size:24px;


.help-con
  padding-top:100px;
  overflow-x:hidden;

  .help-circle-con
    height :380px;
    overflow :hidden;
    & .help-circle
      height:560px;
      width:105%;
      background:#8a8bff;
      border-radius:50%;
      position :relative;
      top:-205px;
      left:-34px;
      font-size:30px;
      font-weight:900;
      line-height :650px;
      text-align center;
      color:#fff;

  & .help-rectangle
    width:1420px;
    height:553px;
    background:#fff;
    box-shadow: 0 8px 16px 5px rgba(80,35,54,.15);
    margin:0 auto;
    position absolute;
    left:0;
    right:0;
    bottom:0
    top:300px;
    border-radius:40px;
    padding:60px;
    display :flex;
    font-size:16px;
    overflow:auto;


    & > div:first-child
      flex:2;
      text-align :right;
      & > p
        margin-bottom:20px;
        cursor:pointer;
      & > p.help-title
        color:red;

    & > div:nth-child(2)
      height:150px;
      width:1px;
      background:#333333;
      margin:0 20px;

    & > div:last-child
      flex:5;

      & h2
        margin-bottom:25px;
        font-weight:900;

      & p
        margin-bottom:45px;
        line-height:20px;
