.login-con
  height: 800px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/img/login-back.png) no-repeat center bottom;
  background-size: 100% 100%;

  .login-container,
  .registered-container
    width:660px;
    height:540px;
    background:#fff;
    border-radius:30px;
    box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);
    padding:50px;

    .login-container-title,
    .registered-container-title
      text-align :center;
      color:#666;
      font-weight :900;
      font-size:30px;

    .login-container-form,
    .registered-container-form
      width:410px;
      margin:0 auto;
      margin-top:40px;

      & input
        border:1px solid #91aeff;
        width:412px;
        height:60px;
        border-radius:5px;
        padding-left:20px;

      & .login-container-form-validate,
      & .registered-container-form-validate
        & input
          width:200px;
          margin-right:10px;

        & b
          display :inline-block;
          width:195px;
          height:60px;
          text-align:center;
          line-height :60px;
          overflow :hidden;

          & img
            width:100%;
            height:100%;

      & .login-container-form-sub
        text-align center;
        & button
          width:151px;
          height:54px;
          border-radius :25px;
          background:#5f84e9;
          color:#fff;
        & button:hover
          box-shadow: 0 5px 12px 3px rgba(80,35,54,.15);
        & button:active
          background:#5477e5;
          box-shadow: 0 5px 12px 3px rgba(80,35,54,.15);

  .registered-container
    height:720px;

.hover-style:hover
  color:#6488ff;
  & span
    color:#6488ff;
