.login-con
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/img/login-back.png) no-repeat center bottom;
  background-size: 100% 100%;

  .login-container,
  .registered-container
    background:#fff;
    box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);

    .login-container-title,
    .registered-container-title
      text-align :center;
      color:#666;
      font-weight :900;

    .login-container-form,
    .registered-container-form

      & input
        border:1px solid #91aeff;

      & .login-container-form-validate,
      & .registered-container-form-validate

        & b
          display :inline-block;
          text-align:center;
          overflow :hidden;

          & img
            width:100%;
            height:100%;

      & .login-container-form-sub
        text-align center;
        & button
          width:151px;
          height:54px;
          border-radius :25px;
          background:#5f84e9;
          color:#fff;
        & button:hover
          box-shadow: 0 5px 12px 3px rgba(80,35,54,.15);
        & button:active
          background:#5477e5;
          box-shadow: 0 5px 12px 3px rgba(80,35,54,.15);


.hover-style:hover
  color:#6488ff;
  & span
    color:#6488ff;
@media only screen and (max-width: 480px) {
  .login-con{
    padding-top: 100px;
  }
  .login-container,
  .registered-container{
    width:90%;
    height:40rem;
    margin-top:-3rem;
    border-radius:1.5rem;
    padding:2rem;
  }
  .login-container-title,
  .registered-container-title{
    font-size:1.8rem;
  }
  .login-container-form,
  .registered-container-form{
    width:100%;
    margin-top:2rem !important;
  }
  .login-container-form-validate b,
  .registered-container-form-validate b{
    width:6rem;
    height:2.5rem;
    line-height :2.5rem;
  }
  .regist-line{
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 1366px) {
}

@media only screen and (min-width: 481px) {
  .login-con{
    height: 800px;
    padding-top: 100px;
  }
  .login-container,
  .registered-container{
    width:660px;
    height:540px;
    border-radius:30px;
    padding:50px;
  }
  .login-container-title,
  .registered-container-title{
    font-size:30px;
  }
  .login-container-form,
  .registered-container-form{
    width:410px;
    margin:0 auto;
    margin-top:40px;
  }
  .login-container-form input,
  .registered-container-form input{
    border:1px solid #91aeff;
    width:412px;
    height:60px;
    border-radius:5px;
    padding-left:20px;
  }
  .login-container-form-validate input,
  .registered-container-form-validate input{
    width:200px;
    margin-right:10px;
  }
  .login-container-form-validate b,
  .registered-container-form-validate b{
    width:195px;
    height:60px;
    line-height :60px;
  }
  .regist-line{
    text-align: center;
    line-height:60px;
  }
  .registered-container{
    height:720px;
  }
}
