.info-con
  padding-top:90px;

  & .info-container
    overflow-x:hidden;
    background:url(../../assets/img/info-back.png) no-repeat top center;

  & .info-container-body
    width:1420px;
    min-height:300px;
    margin:0 auto;
    margin-top:64px;
    padding-bottom:20px;

    & .info-container-title
      display flex;
      justify-content :space-between;

      & div
        flex:1;

      & div:first-child
        & span
          cursor:pointer;
          width:200px;
          height:48px;


      & div:last-child
        text-align right;

        & span
          display :inline-block;
          width:141px;
          height:48px;
          line-height :48px;
          background:#fff;
          text-align center;
          border-radius 30px;
          margin-left:20px;
          cursor:pointer;

    & .info-container-middle
      margin-top:60px;
      & > div
        background:#fff;
        height:496px;
        box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);
        border-radius:20px;

      & > div:first-child
        width:1034px;
        float:left;
        position:relative;
        overflow: hidden;
        padding:30px;

        & .info-working
          width:124px;
          height:48px;
          font-weight:900;
          background:#6488ff;
          display :inline-block;
          text-align center;
          line-height:48px;
          position :absolute;
          top:0;
          left:-5px;
          border-radius:15px;
          font-style:normal;
          color:#fff;

        & .info-big-img
          width:437px;
          height:437px;
          float:left;
          background:#ddd;
          overflow:hidden;
          border-radius :15px;

          & img
            width:100%;
            height:100%;

        & .info-participate
          position :absolute;
          right:0;
          top:0;
          width:69px;
          height:69px;

        & .info-right
          float:right;
          width:510px;

          & > div:first-child
            margin-bottom:20px;
            & span:first-child
              font-size:24px;
              font-weight:900;
              padding-right:20px;

          & > ul
            margin-top:30px;
            text-align :center;
            line-height:35px;

            & span
              font-size:24px;
              font-weight:900;

          & .info-now
            position :absolute;
            bottom:40px;
            right:30px;

            & span
              display:inline-block;
              width:150px;
              height:48px;


      & > div:last-child
        width:338px;
        float:right;
        padding:0 36px;
        line-height:20px;
        overflow-y:auto;

        & > div:first-child
          width:160px;
          height:160px;
          margin:0 auto;
          margin-top:48px;
          overflow :hidden;
          border-radius:50%;

          & img
            width:100%;
            height:100%;
            text-align :center;

        & .info-people
          text-align :center;
          margin-bottom:10px;
          font-size:14px;
          color:#666;

    & .info-container-bottom
      margin-top:50px;

      & > div
        background:#fff;
        box-shadow: 0 8px 36px 2px rgba(0,0,0,.1);
        border-radius:20px;
      & > div:first-child
        width:1034px;
        float:left;
        padding:30px;
        min-height:496px;

        & .info-container-bottom-title
          font-size:30px;
          font-weight:900;

      & > div:last-child
        width:338px;
        float:right;
        height:359px;
        padding:40px;
        text-align center;

        & > ul
          & > li:nth-child(1) span
            font-size:18px;
            color:#666;

          & > li:nth-child(2)
            margin: 25px 0 25px 0;

          & > li:nth-child(3)
            margin: 25px 0 25px 0;

          & > li:nth-child(4) a
            display :inline-block;
            width:150px;
            height:48px;

          & > li:nth-child(5)
            margin: 25px 0 12px 0;

          & > li:nth-child(6) a
            color:#696dff;
            cursor:pointer;


    & .info-container-bottom-des
      margin-top:20px;
      min-height:383px;
      width:100%;
      border-radius :15px;
      overflow:hidden;
      & img
        width:100%;
        height:100%;

  & .info-dialog
    & .dialog-title
      text-align :center;
      font-size:30px;
      color:#333;
    & .dialog-label
      float:left;
      line-height:80px;
      text-align:right;
      width:200px;
      margin-right:10px;

    & .dialog-context
      float:left;
      line-height:80px;
      width:280px;

      & .info-prompt
        position :absolute;
        top:65px;
        left:0;
        line-height :20px;
        color:#9b9b9b;
        font-size:14px;
        height:20px;

      & input
        border:1px solid orange;
        outline :none;
        border-radius:5px;
        padding:10px;
        margin-right:10px;


    & .dialog-submit
      text-align :center;
      &  span
        display :inline-block;
        width:150px;
        height:48px;

.dialog-confirm
  & .dialog-confirm-title
      text-align center;
      font-size:20px;
      padding:20px 0;

  & .dialog-footer
    padding:40px 0;



.el-progress__text
  font-size:18px !important;
  font-weight:900;
.btn-opcity
  opacity :0;
