.info-con
  padding-top:100px;

  & .info-container
    min-height:1000px;
    overflow-x:hidden;
    background:url(../../assets/img/info-back.png) no-repeat -300px -300px;
    background-size:160%;

  & .info-container-body
    width:1420px;
    min-height:300px;
    margin:0 auto;
    margin-top:110px;
    padding-bottom:20px;

    & .info-container-title
      display flex;
      justify-content :space-between;

      & div
        flex:1;

      & div:first-child
        & span
          cursor:pointer;
          width:200px;
          height:48px;


      & div:last-child
        text-align right;

        & span
          display :inline-block;
          width:141px;
          height:48px;
          line-height :48px;
          background:#fff;
          text-align center;
          border-radius 30px;
          margin-left:20px;
          cursor:pointer;

    & .info-container-middle
      margin-top:70px;
      & div
        background:#fff;
        height:496px;
        box-shadow: 0 8px 16px 5px rgba(80,35,54,.15);
        border-radius:20px;

      & div:first-child
        width:1034px;
        float:left;

      & div:last-child
        width:338px;
        float:right;

    & .info-container-bottom
      margin-top:50px;

      & div
        background:#fff;
        height:496px;
        box-shadow: 0 8px 16px 5px rgba(80,35,54,.15);
        border-radius:20px;
      & div:first-child
        width:1034px;
        float:left;

      & div:last-child
        width:338px;
        float:right;
        height:359px;
